html, body {
	font: 14px/1.21 'Helvetica Neue', 'DejaVu Math Tex Gyre', arial, sans-serif;
	font-weight: 400;
    margin: 0;
    padding: 0.1em;
}

h1 {
	text-align: center;
}

.base-grid {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.1em;
}

.headline {
    background: lightgreen;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.inputs {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid yellow;
    background: yellow;
    grid-row: 2;
    grid-column: 1;
}

.table {
    background: salmon;
    grid-row: 3;
    grid-column: 1;
}

.viz {
    background: lightblue;
    grid-row: 2 / span 3;
    grid-column: 2;
}

@media (max-width: 400px) {
  .base-grid {
    grid-template-columns: 1fr;
  }
  .viz {
    grid-row: 4;
    grid-column: 1;
  }
}

.input {
    background: lightpink;
}
.input > label > input {
    background: none;
    width: 4em;
}

table, th, td { border: 1px solid; }
table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
}
tr {
    transition: background 0.05s cubic-bezier(1, 0, 0, 1);
}
tr:hover {
    background: red;
}

td {
    text-align: end;
}

.katex-env {
    text-align: center;
}
